name: release

on:
  push:
    tags:
      - "v*.*.*"

env:
  TAG: ${{ github.ref_name }}
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Install just
        run: curl --proto '=https' --tlsv1.2 -sSf https://just.systems/install.sh | bash -s -- --to .
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build docker image
        run: just TAG=${{ env.TAG }} build-base
      - name: Push docker image
        run: just TAG=${{ env.TAG }} docker-push
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: [build]
    steps:
      - name: Install just
        run: curl --proto '=https' --tlsv1.2 -sSf https://just.systems/install.sh | bash -s -- --to .
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Update manifests
        run: |
          # this is quite naive, but i don't think we need more for now
          sed -i "s/dev/${TAG}/g" config/default/manager_image_patch.yaml
          just release-manifests
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: false
          draft: true
          fail_on_unmatched_files: true
          generate_release_notes: true
          discussion_category_name: Announcements
          name: ${{ env.TAG }}
          files: |
            metadata.yaml
            _out/addon-components.yaml
